<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" default="/tabs/jobs">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Job Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center><img src="./assets/accenture.png"></center>
  <ion-card-header>
    <ion-card-subtitle>Accenture - Calamba, Laguna</ion-card-subtitle>
    <ion-card-title>Software Engineer</ion-card-title>
    <ion-card-subtitle><b>PHP 35,000 - PHP 65,000</b></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <b>Job Description</b><br>
    <p style="text-align:justify">We are looking for software developers to develop software for industrial controllers and instruments. Some of the microcontrollers you’ll be using include atmel, Microchip ATSAMD51, and E54 microcontrollers. Experience with these microcontrollers are not completely necessary as long as you have experience with C++, version 11 and up. Familiarity with C# and some windows applications would also be helpful to support the controllers mentioned above.</p><br>
      <b>Responsibilities:</b><br>
      <ul>
        <li>Developing system software for microcontrollers.</li>
        <li>Communicating project information to team members and collaborating with other developers to build software.</li>
        <li>Developing and executing project plans.</li>
        <li>Developing software system validation and testing methods.</li>
        <li>Documenting work as it is completed in detail.</li>
      </ul>
      <b>Requirements:</b><br>
      <ul>
        <li>Hands-on programming experience using C++ version 11 and/or plus C#</li>
        <li>Test driven development experience</li>
        <li>Experience in FreeRTOS is a plus</li>
        <li>Design highly scalable, testable code</li>
        <li>Discover and fix programming bugs</li>
        <li>Excellent coding skills in terms of correctness and efficiency</li>
        <li>Creative problem-solving skills.</li>
        <li>Strong written and verbal communication skills.</li>
        <li>Flexible (our approach is still developing, and adjustments will be made to goals and system structure as the project evolves)</li>
        <li>Collaborative and team oriented</li>
      </ul>
      <b>Qualifications:</b><br>
      <ul>
        <li>Bachelors Degree in Computer Science, Information Technology or other relevant fields</li>
        <li>Cisco certification at CCNA level is required.</li>
        <li>Knowledge of a wide number of routing protocols and transport technologies, including but not limited to BGP, EIGRP, RIP, IPVPN, MPLS, FR, ATM.</li>
      </ul>
      <b>Contact Information:</b><br>
      Email Address: <b>accenture@gmail.com</b><br>
      Mobile Number: <b>09123456789</b><br>
  </ion-card-content>
</ion-content>
